.z-index1 {
    z-index: 1;
}
.z-index2 {
    z-index: 2;
}
.html, body {
    height: 100%;
}
.body {
    background-color: #ddd;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background-image: url('../images/interlaced.png');
    background-repeat: repeat;
}
.header {
    background-color: white;
    width: 100%;
    max-width: 100%;
    height: calc(6rem + 16px);
    position: relative;
    position: sticky;
    font-family: 'Anton', sans-serif;
    margin-bottom: 1rem;
}
.nameblock {
    background-color: darkcyan;
    color: white;
    float: left;
    display: block;
    padding: 3rem;
    position: absolute;
    right: calc(50% + 286px);
    text-decoration: none;
}
.section {
    background-color: white;
    width: calc( 960px - 4rem);
    padding: 2rem;
    margin: auto;
    flex: 1 0 auto;
    min-height: calc(100% - (4rem+ 15px));
    line-height: 1.6;
    margin-bottom: 1rem;
}
.content {
    padding: 2rem;
}
.breaker {
    background-color: darkcyan;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
}
.footer {
    position: relative;
    background-color: #666;
    color: white;
    width: 100%;
    padding-top: 4rem;
    bottom: 0px;
    flex-shrink: 0;
    text-align: center;
    font-size: 10px;
    line-height: 2.5;
}